/**
 * Community
 *
 */
	section.major {
		margin-top: 20px;
	 	float: left;
 		}
 		
 	section.major h3 {
 		border-bottom: none;
 		margin-bottom: 0;
 		}
 	
  section.major ul li {
  	margin: 0 10px 10px 0;
	 	list-style: none;
	 	font-size: 12px;
	 	float: left;
	 	}
	 	
	section.major ul li img {
		height: 60px;
		width: auto;
	 	float: left;
	 	}
	 	
  section.major ul li figcaption {
	 	margin-left: 10px;
	 	float: left;
	 	}
	 	
  section.major ul li figcaption span {
	 	float: left;
	 	clear: both;
	 	}
	 	
	#faculty {
		margin-top: -5px;
		}
		
	#faculty ul li {
		margin-bottom: 20px;
		position: relative;
		list-style: none;
		float: left;
		}
		
	#associate ul li div.overlay {
		-webkit-transition: opacity 0.2s ease-in-out;
		background: #FFFFFF;
		position: absolute;
		height: 220px;
		width: 220px;
		opacity: 0;
		}
		
	#faculty h4 {
		-webkit-transition: color 0.2s ease-in-out;
		margin-bottom: 0;
		}
		
	#faculty p.title {
		font-size: 12px;
		}
	
	#faculty ul li:hover div.overlay {
		opacity: 0.2;
		}
		
	#faculty ul li:hover h4 {
		color: #B94929;
		}
		
	#associate {
		float: left;
		}
		
	#associate img {
		width: 220px;
		height: auto;
		}
		
	#adjunct {
		margin: 40px 0;
		float: left;
		}
		
	#adjunct img {
		float: left;
		}
		
	#adjunct figcaption {
		margin-left: 10px;
		width: 120px !important;
		float: left;
		}
		
	.site a {
		-webkit-transition: color 0.2s ease-in-out;
		color: #F36235;
		}
		
	.site a:hover {
		color: #B94929;
		}