/**
 * Community
 *
 */
	section.major {
		margin-top: 20px;
	 	float: left;
 		}
 		
 	section.major h3 {
 		border-bottom: none;
 		margin-bottom: 0;
 		}
 	
  section.major ul li {
  	margin: 0 10px 10px 0;
	 	list-style: none;
	 	font-size: 12px;
	 	float: left;
	 	}
	 	
	section.major ul li img {
	 	float: left;
	 	}
	 	
  section.major ul li figcaption {
	 	margin-left: 10px;
	 	float: left;
	 	}
	 	
  section.major ul li figcaption span {
	 	float: left;
	 	clear: both;
	 	}
	 	
	#faculty {
		margin-top: -5px;
		}
		
	#faculty ul li {
		margin-bottom: 20px;
		list-style: none;
		float: left;
		}