/* Exhibition */
	#exhibition ul li {
		margin-bottom: 20px;
		}
		
	nav#filter {
		font-size: 12px;
		}
		
	nav#filter section {
		margin-bottom: 13px;
		}

	nav#filter h6 {
		background: #DDDDDD;
		font-weight: normal;
		padding: 2px 0 6px 8px;
		}
		
	nav#filter span {
		-webkit-transition: all 0.2s ease-in-out;
		padding: 4px 0 4px 8px;
		width: 212px;
		}

	nav#filter a {
		-webkit-transition: all 0.01s ease-in-out;
		}		
		
	nav#filter a:hover span:not(.removeBtn) {
		background: #F49308;
		cursor: pointer;
		color: #FFFFFF;
		}
		
	nav#filter span.selected {
		background: #F36235;
		cursor: pointer;
		color: #FFFFFF;
		}
		
	.remove_btn {
		width: auto !important;
		margin-right: 10px;
		line-height: 0.2;
		font-size: 18px;
		color: #B94929;
		float: right;
		}
		
	.studio {
		position: relative;
		height: 140px;
		width: 220px;
		}
	
	.studio .info {
		-webkit-transition: all 0.2s ease-in-out;
		position: absolute;
		padding: 10px;
		opacity: 0;
		}
		
	.studio:hover .info {
		opacity: 1;
		}
	
	.studio .overlay {
		-webkit-transition: all 0.2s ease-in-out;
		background: #FFFFFF;
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
		}
		
	li.studio a {
		color: #333333;
		}
		
	.studio:hover .overlay {
		cursor: pointer;
		display: block;
		opacity: 0.9;
		}
		
	.professor {
		float: left;
		clear: both;
		}
		
	figure {
		float: left;
		clear: both;
		}
		
	span.major {
		display: block;
		}
		
	.info h4 {
		float: left;
		}
		
	span.major_tag {
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		-o-border-radius: 1px;
		border-radius: 1px;
		
		padding: 1px 4px 3px 4px;
		margin: 2px 0 0 5px;
		background: #888888;
		text-align: center;
		font-size: 10px;
		color: #FFFFFF;
		float: left;
		width: 20px;
		}
		
	span.year {
		display: block;
		}
		
	span.right.year {
		font-size: 12px;
		}
		
	p.course_description:not(:last-child) {
		margin-bottom: 20px;
		}
		
	figcaption.professor {
		font-size: 12px;
		}
		
	* a {
		color: #F36235;
		}
		
	* a:hover {
		color: #B94929;
		}
		
	#projects {
		margin-top: 30px;
		clear: both;
		}
		
	img.full_image {
		border: 2px solid #F36235;
		margin-bottom: 20px;
		}
		
		/* Relativity Bar */
	.related {
		border-bottom: 1px solid #C6C6C6;
		border-top: 1px solid #C6C6C6;
		padding: 10px 10px 10px 10px;
		margin: 10px 0 0 -8px;
		background: #cccccc;
		width: 208px;
		float: left;
		clear: both;
		}
		
	.related figure:not(:last-child) {
		margin-bottom: 10px;
		}
		
	/* Slideshow */
	div#exhibition div.slideshow {
		margin-top: 10px; /* Hacking */
		margin-bottom: 20px;
		background: #666666;
		position: relative;
		height: 325px;
		width: 100%;
		float: left;
		}
		
	div#exhibition div.slideshow div.inner {
		position: absolute;
		width: 1600px;
		left: -60px;
		}
		
	div#exhibition div.slideshow > div:not(.inner) {
		padding: 5px 5px 5px 0;
		background: #F26236;
		margin-bottom: -5px;
		}
		
	div#exhibition div.slideshow h3 {
		padding: 5px 0 8px 0;
		margin: -5px 0 0 10px;
		border-bottom: 0;
		font-size: 14px;
		color: #FFFFFF;
		}
		
	div#exhibition div.slideshow figure {
		position: relative;
		height: 277px;
		width: 387px;
		float: left;
		clear: none;
		}
		
	div#exhibition div.slideshow figure div.overlay {
		-webkit-transition: opacity 0.2s ease-in-out;
		background: #000000;
		position: absolute;
		opacity: 0.8;
		height: 290px;
		width: 387px;
		top: 6px;
		left: 0;
		}
		
	div#exhibition div.slideshow figure:hover div.overlay {
		opacity: 0;
		}
		
	div#exhibition div.slideshow figure img {
		border-right: 1px solid #F36325;
		border-left: 1px solid #F36325;
		margin: 6px 0;
		height: 290px;
		width: auto;
		float: left;
		}

/**
 * Animations
 *
 */
 @-webkit-keyframes red-byline {
 	0% {
 		margin-top: -25px;
 		} 
 		
 	100% {
 		margin-top: -3px;
 		}
 }
 
/** 
 * Top-level Slideshow
 *
 */
 	figcaption.byline.center {
 		-webkit-transition: background 0.2s ease-in-out;
 		position: absolute;
 		padding-top: 6px;
 		z-index: 100;
 		bottom: 0;
 		}
 		
 	figcaption.byline.center p {
 		width: 889px;
 		float: left;
 		}
 		
 	.hero_slideshow {
 		overflow: hidden;
 		}
 		
 	.hero_slideshow .inner {
 		position: static !important;
 		}
 		
 	#hero img {
 		margin-top: -150px;
 		float: left;
 		}
 		
 	.active_area {
 		-webkit-transition: background 0.2s ease-in-out;
 		position: absolute;
 		height: 30px;
 		width: 100%;
 		z-index: 101;
 		bottom: 0;
 		}
 		
 	.active_area:hover {
 		background: #B94929;
 		}
 		
 	.active_area p {
 		text-align: center;
 		padding-top: 5px;
 		font-size: 12px;
 		color: #FFFFFF;
 		}
 		
 	/* Slideshow Buttons */
 	.cycle_btn {
 		-webkit-transition: background 0.2s ease-in-out;
 		height: 18px;
 		width: 18px;
 		opacity: 0;
 		}
 		
 	.cycle_btn:first-child {
 		padding: 5px 6px 5px 6px;
 		margin: -5px 0 -5px -6px;
 		float: left;
 		}
 		
 	.cycle_btn:last-child {
		padding: 5px 12px 5px 6px;
 		margin: -5px -4px -5px 0;
 		float: right;
 		}
 		
 	.cycle_btn:hover {
 		background-color: #B94929;
 		}
 		
 	#cycle_left {
 		-webkit-mask: url('../img/left_arrow_trans.png') no-repeat;
 		background: #FFFFFF;
 		height: 100%;
 		width: 100%;
 		}
 		
 	#cycle_right {
 		-webkit-mask: url('../img/right_arrow_trans.png') no-repeat;
 		background: #FFFFFF;
 		height: 100%;
 		width: 100%;
 		}

 	/* We specifically call out the hero on the index, and 
 	   not on inside pages because we cannot animate properties
 	   with the !important declaration. */	
 	#hero.hero_index img {
 		margin-top: 0px;
 		float: none;
 		}
 
 /**
 * Hacks
 *
 */
 #hero {
 	margin-bottom: 40px;
 	}
