	h4 {
		color: #333333;
		}
	
	header,
	#sidekick {
		background: #888888;
		}
	
	span.guide_head {
		margin: 48px 3px 0 0;
		float: right;
		}
		
	/* Side Navigation */
	#side_nav ul li:hover {
		background: #888888;
		}
		
	/* Takeaways */
	ul#takeaways li {
		list-style: none;
		}
		
	ul#takeaways li p {
		margin-bottom: 20px;
		min-height: 75px;
		font-size: 12px;
		float: left;
		}
		
	/* Interaction Standards */
	#interaction > div {
		margin-bottom: 40px;
		float: left;
		clear: both;
		}
				
	#interaction em {
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		}
		
	#interaction img {
		height: auto;
		width: 220px;
		float: left;
		}
		
	#interaction p {
		margin-bottom: 10px;
		}
		
	#interaction p code {
		font-size: 13px;
		}

	/* Colors */
	.tipsy-inner > div {
		padding-bottom: 5px;
		font-size: 12px;
		clear: both;
		}
	
	.color {
		margin-right: 20px;
		height: 60px; 
		width: 60px; 
		float: left;
		}
		
	.cmu-darkred {
		background-color: #B94929;
		}
	
	.cmu-red {
		background-color: #F36235; 
		}
		
	.cmu-darkorange {
		background-color: #E57235;
		}
		
	.cmu-orange {
		background-color: #F47D1C;
		}
		
	.cmu-yellow {
		background-color: #F2A919;
		}
		
	.cmu-white {
		background-color: #FFFFFF; 
		border: 1px solid #CCCCCC;
		width: 58px;
		}
		
	.cmu-lightgray {
		border: 1px dotted #CCCCCC;
		background-color: #EEF2F2;
		width: 58px;
		}
		
	.cmu-mediumgray {
		background-color: #CCCCCC;
		}
		
	.cmu-darkgray {
		background-color: #666666;
		}
		
	.cmu-black {
		background-color: #000000;
		}
		
	/* Typography */
	.type {
		margin: 20px 0 30px 0;
		float: left;
		clear: both;
		}
		
	.type h3 {
		font-size: 21px;
		padding: 0;
		border: 0;
		}

	/* Side Architecture */
	
	ul#site_architecture {
		margin-left: 0px;
		list-style: none;
		}
	
	ul#site_architecture a{
		-webkit-transition: color 0.2s ease-in-out;
		color: #F36235;
		}
		
	ul#site_architecture a:hover{	
		color: #B94929;
		}
	
	ul#site_architecture li{
		line-height: 1;
		padding-top: 4px;
		padding-bottom: 4px;
		}
	
	ul#site_architecture>li{
		border-left: 1px dotted #f2f2f2;
		padding-left: 5px;
		float: left;
		width: 180px;
		height: 600px;
		}
		
	ul#site_architecture>li:nth-child(1){
		width:170px;
		}
		
	ul#site_architecture>li:nth-child(4){
		width:140px;
		}
	
	ul#site_architecture>li:nth-child(5){
		width:140px;
		}
	
	ul#site_architecture>li:nth-child(6){
		width:80px;
		}
	
	ul#site_architecture>li>ul{
		font-size: 12px;
		list-style: none;
		}
	
	ul#site_architecture>li>ul>li{
		margin-left: 20px;
		}
	
	ul#site_architecture>li>ul>li>ul{
		list-style: none;
		}
	ul#site_architecture>li>ul>li>ul>li{
		margin-left: 20px;
		}
	
	ul#site_architecture>li>ul>li>ul>li>ul{
		list-style: none;
		}
		
	ul#site_architecture>li>ul>li>ul>li>ul>li{
		margin-left: 20px;
		}