	a {
		color: #888888 !important;
		}
		
	a:hover {
		color: #333333 !important;
		}
	
	header,
	#sidekick {
		background: #888888;
		}
	
	span.guide_head {
		margin: 48px 3px 0 0;
		float: right;
		}
		
	/* Side Navigation */
	#side_nav ul li:hover {
		background: #888888;
		}
		
	/* Takeaways */
	ul#takeaways li {
		list-style: none;
		}
		
	ul#takeaways li p {
		margin-bottom: 20px;
		min-height: 75px;
		font-size: 12px;
		float: left;
		}
		
	/* Interaction Standards */
	#interaction > div {
		margin-bottom: 20px;
		float: left;
		clear: both;
		}
		
	#interaction em {
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		}
		
	#interaction img {
		height: auto;
		width: 220px;
		float: left;
		}
		
	#interaction p {
		margin-bottom: 10px;
		}