	a {
		color: #888888 !important;
		}
		
	a:hover {
		color: #333333 !important;
		}
		
	h4 {
		color: #333333;
		}
	
	header,
	#sidekick {
		background: #888888;
		}
	
	span.guide_head {
		margin: 48px 3px 0 0;
		float: right;
		}
		
	/* Side Navigation */
	#side_nav ul li:hover {
		background: #888888;
		}
		
	/* Takeaways */
	ul#takeaways li {
		list-style: none;
		}
		
	ul#takeaways li p {
		margin-bottom: 20px;
		min-height: 75px;
		font-size: 12px;
		float: left;
		}
		
	/* Interaction Standards */
	#interaction > div {
		margin-bottom: 40px;
		float: left;
		clear: both;
		}
				
	#interaction em {
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		}
		
	#interaction img {
		height: auto;
		width: 220px;
		float: left;
		}
		
	#interaction p {
		margin-bottom: 10px;
		}
		
	#interaction p code {
		font-size: 13px;
		}

	/* Colors */
	.color {
		margin-right: 20px;
		height: 60px; 
		width: 60px; 
		float: left;
		}
		
	.cmu-darkred {
		background-color: #B94929;
		}
	
	.cmu-red {
		background-color: #F36235; 
		}
		
	.cmu-darkorange {
		background-color: #E57235;
		}
		
	.cmu-orange {
		background-color: #F47D1C;
		}
		
	.cmu-yellow {
		background-color: #F2A919;
		}
		
	.cmu-white {
		background-color: #FFFFFF; 
		border: 1px solid #CCCCCC;
		width: 58px;
		}
		
	.cmu-lightgray {
		border: 1px dotted #CCCCCC;
		background-color: #EEF2F2;
		width: 58px;
		}
		
	.cmu-mediumgray {
		background-color: #CCCCCC;
		}
		
	.cmu-darkgray {
		background-color: #666666;
		}
		
	.cmu-black {
		background-color: #000000;
		}

	/* Side Architecture */
	
	ul#site_architecture {
		margin-left: 0px;
		list-style: none;
/* 		color: orange; */
		}
		
	ul#site_architecture>li{
		float: left;
		width: 156px;
		height: 650px;
/* 		margin-left: 20px; */
		}
	
	ul#site_architecture>li>ul{
/* 		color: red; */
		font-size: 12px;
		list-style: none;
		}
	
	ul#site_architecture>li>ul>li{
		margin-left: 20px;
		}
	
	ul#site_architecture>li>ul>li>ul{
/* 		color: maroon; */
		list-style: none;
		}
	ul#site_architecture>li>ul>li>ul>li{
		margin-left: 20px;
		}
	
	ul#site_architecture>li>ul>li>ul>li>ul{
/* 		color: black; */
		list-style: none;
		}
		
	ul#site_architecture>li>ul>li>ul>li>ul>li{
		margin-left: 20px;
		}