body{
	background-color: #ffc928;
	color: white;
	font: 16px/1.3 "ff-meta-web-pro-1","ff-meta-web-pro-2", sans-serif;
	}
	
div#login{
	margin: 0 auto;
	width: 570px;
	margin-top: 300px;
	}
	
input[type=text], input[type=password]{
	border: 1px solid #f9a322;
	background: #FFFFFF;
	font-size: 18px;
	outline: none;
	padding: 10px;
	width: 200px;
	float: left;
	display: inline;
	margin-right: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	}
	
a{
	color: #F36235;
	text-decoration: none;
	}
	
a.button{
	font-size: 18px;
	display: inline;
	padding: 7px 20px 7px 20px;
	background-color: #F36235;
	border: 1px solid #F36235;
	color: white;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	top: 12px;
	}
	
a.quiet{
	color: #999;
	font-size: 12px;
	}
	
.center{
/* 	margin: 0 auto; */
	width: 375px;
	margin-bottom: 10px;
	}
	
.clear{
	clear: both;
	}

hr{
	margin-top: 30px;
	width:100%;
	height:1px;
	color:#f9a322;
	border:0px;
	background-color:#f9a322;
	margin-bottom:10px;
	}

#cycler{
	width: 480px;
/* 	margin: 0 auto; */
/* 	text-align: center; */
	}

#cycler div{
	width: 480px;
	}