/**
 * School of Design Redesign
 * Interaction Prototype
 *
 * Justin Edmund and David Yen
 * Spring 2011
 *
 */

/**
 * Page Structure
 *
 */

	html {
		overflow-x: hidden;
		height: 100%;
		}

	body {
		font: 14px/1.3 "ff-meta-web-pro-1","ff-meta-web-pro-2", sans-serif;
		color: #333333;
		height: 100%;
		}

	header {
		background-color: #F36235;
		color: #FFFFFF;
		height: 110px;
		width: 100%;
		}

	/* Sticky Footer */
	#wrapper {
		height: auto !important;
		margin: 0 auto -6em;
		min-height: 100%;
		height: 100%;
		}
		
	#news {
/* 		float: left; */
		}
		
	footer, #push {
		height: 6em;
		}
		
	/* This ID is applied to the first grid_X element in the document
	   after the superhero */
	#first {
		margin-top: 20px;
		}

/**
 * Superheroes
 *
 */

	#hero, 
	#sidekick {
		background: #F36235;
		position: relative;
		margin-top: -30px;
		width: 938px;
		}
		
	#hero {
		margin-bottom: 60px;
		height: 322px;
		}
		
	#sidekick {
		margin-bottom: 20px;
		height: 179px;
		}

	a #hero .byline p {
		-webkit-transition: margin 0.2s ease-in-out;
		color: #FFFFFF;
		float: left;
		}
		
	a:hover #hero .byline p {
		margin-left: 5px;
		}
	
	a.orange{
		color: #F36235;
		}
	
	#hotfix {
		margin-top: 30px;
		}
		
	figcaption.byline {
		-webkit-animation: red-byline 1s 1;
		padding: 2px 0 6px 8px;
		background: #F36235;
		margin-top: -3px;
		font-size: 12px;
		color: #FFFFFF;
		width: 930px;
		float: left;
		}
		
	figcaption.byline.center {
		position: relative;
		z-index: 2;
		}
		
	/* Hero Slideshow — Frontpage */
	#hero .slideshow {
		margin-left: 0px;
		}
		
	/* Center the image in the background */
	#hero img,
	#sidekick img {
		margin-left: 2px;
		margin-top: 2px;
		}
		
	.hero_container.sidekick {
		padding-bottom: 20px;
		margin-bottom: 0;
		height: 179px;
		}
		
	#byline {
		margin-top: -50px;
		}
		
	.caption {
		float: left;
		}
		
	span#pager {
		margin-top: 12px;
		width: 51px;
		float: right;
		}
	
	span#pager div {
		-webkit-transition: background 0.2s ease-in-out;
		background: #333333;
		height: 22px;
		width: 22px;
		float: left;
		}
		
	span#pager div:hover {
		background: #F36235;
		cursor: pointer;
		}
		
	div#pager_prev {
		-webkit-mask: url('../img/sprites.png') 0 0 no-repeat;
		margin-right: 5px;
		}
		
	div#pager_next {
		-webkit-mask: url('../img/sprites.png') -22px 0 no-repeat;
		}
		
	#byline h2.caption {
		font-size: 30px;
	 	margin-bottom: 20px;
		margin-top: 0px;
		color: #333;
		}
		
/**
 * Related Content Bar
 *
 */
 	.relativity_wrapper {
 		position: relative;
 		}
 
	.relativity {
		border-bottom: 1px dotted #AAAAAA;
		background: #F2F2F2;
		position: absolute;
		padding-top: 10px;
		font-size: 12px;
		width: 220px;
		float: left;
		}
	
	/* Specific styling for content pages */	
	#content .relativity {
	 	margin-top: 0;
	 	}
		
	.relativity h5 {
		font-style: italic;
		}
		
	.relativity li {
		list-style: none;
		}
		
	.relativity figure {
		position: relative;
		}
		
	.relativity figcaption {
		padding: 0 15px 10px 15px;
		}
		
	.relativity img {
		padding: 0 15px;
		}
		
	.relativity li .sub_related {
		border-bottom: 1px dotted #AAAAAA;
		padding: 4px 0 8px 8px;
		margin: 0 0 -16px -8px;
		width: 212px;
		float: left;
		}
		
	.relativity li:last-child .sub_related {
		border: none;
		}
		
	.relativity li .sub_related figure:not(:last-child) {
		margin-bottom: 4px;
		}
		
	/* Overlay for videos in relativity bar */
	.relativity .video {
		-webkit-mask: url('../img/video.png') no-repeat;
		-webkit-transition: background 0.2s ease-in-out;
		background-position: center;
		background: #000;
		position: absolute;
		height: 75px;
		width: 75px;
		left: 72px;
		top: 6px;
		}
		
	.relativity figure.video_wrapper:hover .video {
		background: #F2A919;
		cursor: pointer;
		}
		
	.relativity li ul {
		padding: 0 10px 10px 10px;
		}
		
	.relativity li ul li {
		margin-bottom: 10px;
		}
		
	.relativity li ul li a {
		-webkit-transition: color 0.2s ease-in-out;
		color: #F36235;
		}
		
	.relativity li ul li a:hover {
		color: #B94929;
		}
		
	.relativity li ul li p {
		padding-left: 10px;
		}
		
	.relativity li h4 {
		padding-left: 20px;
		color: #333333;
		}
		
	.relativity li a span.file {
		-webkit-transition: background 0.2s ease-in-out;
		-webkit-mask: url('../img/file.png') no-repeat;
		background: #F36235;
		margin: 5px 5px 0 0;
		float: left;
		height: 9px;
		width: 6px;
		}
		
	.relativity li a:hover span.file {
		background: #B94929;
		}
		
	.relativity li a span.no-icon {
		height: 1px;
		width: 11px;
		float: left;
		}

	/* Special styling for studio representation */
	.relativity li.studio {
		margin-bottom: 10px;
		float: left;
		clear: both;
		}
	
	.relativity li.studio img {
		height: auto;
		width: 50px;
		float: left;
		}
		
	.relativity li.studio figcaption {
		margin-top: -5px;
		padding-left: 0;
		margin-left: 0;
		width: 100px;
		float: left;
		}
		
	/* Special styling for applying */
	.relativity li.apply {
		border-bottom: 1px solid #F36235;
		background: #F2A919;
		margin-top: -10px;
		min-height: 90px;
		color: #FFFFFF;
		padding: 15px;
		}
		
	.relativity li.apply.short {
		min-height: 40px;
		}
		
	.relativity li.apply h4 {
		color: #B94929;
		padding: 0;
		}
		
	.relativity li.apply a.apply {
		margin-top: 10px;
		font-size: 14px;
		float: right;
		}
			
	.relativity li.apply a {
		-webkit-transition: all 0.2s ease-in-out;
		font-size: 12px;
		color: #FFFFFF;
		float: left;
		}
		
	.relativity li.apply a:hover {
		margin-right: -5px;
		}
		
		
	.relativity li.apply + li {
		padding-top: 10px;
		}
		
	.relativity a span.exhibition {
		color: #F2A919;
		}
		
	.relativity a:hover span.exhibition {
		color: #C98C14;
		}
		
/**
 * Top-level Visuals
 *
 */
 
  /* School of Design Logo */
	h1#logo	{
		background: url('../img/logo.png');
		text-indent: -9999px;
		margin-left: 3px;
		margin-top: 20px;
		height: 55px;
		width: 110px;
		float: left;
		}	
		
	h2 {
		margin-bottom: 0px;
		font: 24px "ff-meta-web-pro-1","ff-meta-web-pro-2",sans-serif;
		}
	
	h3 {
		border-bottom: 1px solid #CCCCCC;
		padding-bottom: 10px;
		font-weight: normal;
		margin-bottom: 20px;
		font-size: 14px;
		height: 14px; /* This makes it so we can have floated elements inside the h3 */
		width: 100%;
		}
		
	h3#sidebar {
		margin-bottom: 0;
		}
		
	h4 {
		font-weight: normal;
		margin-bottom: 5px;
		font-size: 16px;
		color: #F36235;
		}
		
	h4 a,
	h5 a {
		color: #F36235;
		}
		
	h4 a:hover,
	h5 a:hover {
		color: #B94929;
		}
		
	h4 span.exhibition {
		color: #F2A919;
		}
		
	h5 {
		font-weight: normal;
		}
		
	hr {
		margin: 30px 0 30px 10px;
		width: 940px;
		float: left;
		clear: both;
		}
		
	img.small {
		height: auto;
		width: 50px;
		float: left;
		}

	article,
	aside {
		margin-bottom: 10px;
		clear: both;
		float: left;		
		}

	#news article{
		margin-bottom: 20px;
		}

	aside img {
		margin-bottom: 5px;
		}

	aside p {
		font-size: 12px;
		}

	a {
		-webkit-transition: color 0.2s ease-in-out;
		text-decoration: none;
		color: #333333;
		}

	a:hover {
		color: #000000; 
		}

	header a {
		color: #FFFFFF;
		}
		
	p.content {
		margin-bottom: 20px;
		}
		
	p.content a {
		-webkit-transition: color 0.2s ease-in-out;
		color: #F36235;
		}
		
	p.content a:hover {
		color: #B94929;
		}
		
	#section_header {
		border-bottom: 1px solid #cdcdcd;
		padding-bottom: 5px;
		margin-top: 10px;
		}
		
	#section_header h2 {
		margin-bottom: 0px;
		}
		
	span.breadcrumb{
		font-size: 12px;
		}
		
	.quiet{
		font-size: 12px;
		color: #999;
		}
	a.quiet{
		color: #F36235;
		}
	/* If you ever need a semantically generic inline list, use this. */
	ul.inline li {
		list-style: none;
		display: inline;
		}
		
	/* If you ever need to just float an element left or right without 
		 semantic meaning, use this on the element. */
	.left {
		float: left;
		}
		
	.right {
		float: right;
		}
		
	.clear {
		clear: both;
		}
	
	.center {
		text-align: center;
		}
		
	.none {
		clear: none !important;
		}
	
	/* To correct the position of &rarr; */
	.arrow {
		margin: 1px 0 0 5px;
		float: left;
		}
		
/**
 * Top-level Navigation
 *
 */
 	
	nav#global {
		float: right;
		}
		
	nav#global > ul {
		position: relative;
		}
		
	nav#global > ul > a {
		float: left;
		}
		
	nav#global > ul > a:hover {
		color: #FFFFFF;
		}
				
	nav#global > ul > li {
		/* width: 70px; */ /* why is this commented? */
		-webkit-transition: background 0.2s ease-in-out;
		border-left: 1px solid #F2A919;
		padding: 40px 35px 5px 10px;
		position: relative;
		min-width: 60px;
		height: 20px;
		float: left;
		}
	
	nav#global > ul > :first-child > li {
		padding-right: 55px;
		}
		
	nav#global > ul > li:hover {
		background: #f47d1c;
		}
		
	nav#global > ul > li.selected {
		background: #F49308;
		}
		
	nav#global > ul > li:first-child {
		width: 70px;
		}
		
	nav#global > ul > li:last-child {
		margin-right: 0;
		}
		
	nav#global > ul > li > a {
		position: absolute;
		height: 80px;
		width: 100%;
		z-index: 4;
		left: 0;
		top: 0;
		}
		
	nav#global > ul > li > a > span {
		padding-left: 10px; 
		margin-top: 40px;
		float: left;
		}
		
	nav#global > ul > li > a:hover {
		color: #FFFFFF;
		}
		
	nav#global ul.hover_nav {
		background-color: #f47d1c;
		padding-bottom: 10px;
		position: absolute;
		visibility: hidden;
		padding-top: 5px;
		font-size: 12px;
		width: 100%;
		z-index: 5;
		opacity: 0;
		left: 0;
		top: 0;
		}
		
	nav#global ul.hover_nav > li,
	nav#global ul.hover_nav > a > li {
		padding-left: 10px;
		line-height: 1;
		padding-top: 6px;
		padding-bottom: 6px;
		}
		
	nav#global ul.hover_nav a:hover {
		color: #FFFFFF;
		}
	
	nav#global > ul > li.selected ul.hover_nav {
		background: #F49308;
		}
	
	nav#global > ul > li:hover ul.hover_nav {
		-webkit-transition: opacity .3s ease, visibility .1s ease, top .15s ease;
		-o-transition: opacity .3s ease, visibility .1s ease, top .15s ease;
		transition: opacity .3s ease, visibility .1s ease, top .15s ease;
		visibility: visible;
		opacity: 1;
		top: 60px;
		}
		
	nav#global ul.hover_nav li {
		-webkit-transition: all 0.3s ease-in-out;
		}
		
	nav#global ul.hover_nav li:hover {
		/* 		color: #FFF; */
		font-weight: bold;
		}
		
	nav#global ul.hover_nav a {
		display: inline;
		/* position: relative; */
		float: none;
		}
		
	/* Post-hero sub-navigation options on Index */
	nav#sub ul li {
		list-style-image: url('../img/arrow_bullet.png');
		font-size: 16px !important;
		margin-bottom: 10px;
		}
		
/**
 * Footer
 *	Note: More footer style in the "page structure" section
 */
	footer {
		border-top: 1px dotted #CCCCCC;
		padding-bottom: 50px;
		background: #f4f4f4;
		position: relative;
		padding-top: 30px;
		color: #666666;
		height: auto;
		width: 100%;
		float: left;
		bottom: 0px;
		}
		
	footer a {
		color: #666666;
		}
		
	footer a:hover {
		color: #333333;
		}
		
	footer a.login {
		display: inline-block;
		margin-top: 5px;
		padding: 3px 10px 5px 10px;
		-moz-border-radius:		1px; 
   	-webkit-border-radius:	1px; 
   	border-radius:			1px;
		background-color: #F36235;
		color: white;
		}
	
	footer h5 {
		margin-bottom: 10px;
		}
			
	footer div span {
		font-size: 12px;
		float: left;
		clear: both;
		}
		
	footer span.tweet {
		margin-top: 2px;
		float: left;
		}
		
	footer span.tweets_timestamp {
		font-size: 12px;
		color: #AAAAAA;
		}
		
	footer div#contact_us span {
		line-height: 1.6;
		}
		
	footer ul#social{
		padding-top: 5px;
		display: block;
		list-style: none;
		clear: both;
		}
	footer ul#social li{
		float: left;
		padding-right: 5px;
		}
		
	/* Footer Form for Intranet */
	input {
		-webkit-transition: background 0.2s ease-in-out;
		border: 1px solid #E9E9E9;
		background: #FFFFFF;
		margin-bottom: 5px;
		font-size: 10px;
		outline: none;
		padding: 5px;
		width: 208px;
		}
		
	input:focus {
		background: #F36235;
		color: #FFFFFF;
		}
		
	input[type="submit"] {
		-webkit-transition: background 0.2s ease-in-out;
		background: #F36235;
		margin-right: 0px;
		font-size: 10px;
		color: #FFFFFF;
		float: right;
		width: 60px;
		}
		
	input[type="submit"]:hover,
	input[type="submit"]:focus {
		background: #B94929;
		}
	
	
/**
 * Content Page Side-Navigation
 *
 */	
 
	#side_nav {
		background-color: #f2f2f2;
		padding-bottom: 8px;
		}
		
	#side_nav ul {
		list-style: none;
		font-size: 12px;
		}
		
	#side_nav ul li {
		-webkit-transition: all 0.2s ease-in-out;
		padding: 4px 0 4px 8px;
		margin-left: 0;
		color: #666666;
		width: 212px;
		}
		
	#side_nav ul li.selected {
		background-color: #F36235;
		color: #FFFFFF;
		}	
		
	#side_nav ul.selected_subnav li:hover {
		background: transparent;
		color: #F36235;
		}
		
	#side_nav ul li:hover {
		background-color: #F49308;
		color: #FFFFFF;
		}
		
	#side_nav ul.selected_subnav {
		padding-left: 20px;
		}
		
	#side_nav ul.selected_subnav li.selected{
		background-color: transparent;
		color: #F36235;
		}
		
	#side_nav ul.selected_subnav li a {
		-webkit-transition: color 0.2s ease-in-out;
		color: #666666;
		}
		
	#side_nav ul.selected_subnav li a:hover {
		color: #F36235;	
		}

	/* Using side navigation for project metadata */
	/* Absolute breaks this technically grid-wise, so margin-left is fixing it */
	div.metadata {
		position: absolute;
		margin-top: -20px;
		margin-left: -8px;
		}
				
	div.metadata ul li {
		margin-bottom: 0 !important;
		clear: both;
		}
		
	li.studio {
		height: auto;
		}
	
	li figure {
		margin-top: 5px;
		}
		
	li.designer figcaption,
	li.studio figcaption {
		margin-left: 10px;
		float: left;
		}
		
	li.studio a {
		color: #F36235 !important;
		}
		
	li.studio a:hover {
		color: #B94929 !important;
		}
		
	li.studio a span.professor {
		color: #333333;
		}

/**
 * Front page
 *
 *
 */

	section#feature_strip {
		border-top: 1px dotted #CCCCCC;
		background-color: #EEF2F2;
		padding-bottom: 10px;
		margin-bottom: 30px;
		padding-top: 20px;
		min-height: 340px;
		width: 100%;
		clear: both;
		}
		
	h3.frontpage {
		margin: 0px 0px 10px 0px;
		font-size: 21px;
		padding: 0px;
		height: auto;
		border: 0px;
		width: auto;
		}
	
	#news img {
		margin-right: 20px;
		float: left;
		}
	
	section#feature_strip img {
		margin-bottom: 10px;
		}
			
	div.date {
		margin-right: 15px;
		float: left;
		}
		
	div.date span.day {
		font-size: 28px;
		display: block;
		}
	
	div.date span.month {
		text-align: center;
		position: relative;
		left: 4px;
		top: -5px;
		}
	
	span.details {
		font-size: 12px;
		}
		
	#push.frontpage {
		height: 2em;
		}
		
	figure.frontpage{
		position: relative;
		}
	
	.video.frontpage {
		-webkit-mask: url('../img/video.png') no-repeat;
		-webkit-transition: background 0.2s ease-in-out;
		background-position: center;
		background: #000;
		position: absolute;
		height: 75px;
		width: 75px;
		left: 110px;
		top: 53px;
		}
		
	figure.frontpage.video_wrapper:hover .video {
		background: #F2A919;
		cursor: pointer;
		}
		
/**
 * Content Pages
 *
 */	
 	#content section {
 		float: left;
 		}
 
	h2.inside {
		margin-bottom: 8px;
		margin-top: 10px;
		}
		
	h3.project_title {
		font-size: 18px;
		height: 20px;
		color: #F36235;
		}
		
	h3.inside {
		font-size: 16px;
		margin-bottom: 10px;
		}
		
	h4.inside {
		margin-bottom: 10px;
		color: #333;
		}
		
	p.sidenote {
		background: url('../img/sprites.png') 0 -21px no-repeat;
		width: 200px !important;
		padding-left: 10px;
		font-size: 12px;
		color: #F36235;
		float: left;
		}
		
	/* PAGE: What is Design? */
	dl {
		margin-bottom: 20px;
		float: left;
		}
		
	dl dt {
		font-size: 21px;
		color: #F36235;
		float: left;
		}
		
	dl dt#dictionary {
		color: #F49308;
		}
		
	dl span {
		margin: 7px 0 0 5px;
		color: #999999;
		float: left;
		}
		
	dl span.part {
		font-style: italic;
		}
		
	dd {
		margin-top: 8px;
		clear: both;
		float: left;
		}
		
	dd ol li {
		-webkit-transition: color 0.2s ease-in-out;
		margin-bottom: 8px;
		color: #CCCCCC;
		}
		
	dd ol li:hover {
		color: #333333;
		}
	
	section#dict_definition p.sidenote,
	section#school_definition p.sidenote {
		margin-top: 9px;
		}
		
	section#school_mission p {
		background: url('../img/def-bg.png');
		padding-top: 7px;
		line-height: 30px;
		font-size: 18px;
		color: #666666;
		}
		
	section#school_mission p em {
		-webkit-transition: color 0.2s ease-in-out;
		font-style: normal;
		color: #AAAAAA;
		}
		
	section#school_mission p:hover em {
		color: #F36235;
		}	
 		
 	article span.continue a {
 		-webkit-transition: color 0.2s ease-in-out;
 		color: #F36235;
 		}

	article span.continue a:hover {
		color: #B94929;
		}
		
 	/* Blockquotes */
	blockquote {
		-webkit-transition: all 0.2s ease-in-out;
		margin-bottom: 20px;
		position: relative;
		font-style: italic;
		font-size: 24px;
		color: #666666;
		}
		
	blockquote:hover {
		color: #333333;
		}
		
	blockquote:hover span.mark {
		top: -16px;
		}
		
	blockquote span.mark {
		-webkit-transition: all 0.2s ease-in-out;
		position: absolute;
		font-size: 72px;
		color: #F26325;
		left: -46px;
		top: -18px;
		z-index: -1;
		}
		
	/* Fallback "View More" styling for if infinite
		 scroll doesn't work/JS is disabled */
	nav#bottom {
		background: #F2A919;
		margin-top: 20px;
		height: 40px;
		}
	
	nav#bottom a {
		color: #FFFFFF;
		display: block;
		}
		
	nav#bottom span {
		-webkit-transition: background 0.2s ease-in-out;
		padding: 5px;
		}
		
	nav#bottom span#older {
		float: right;
		}
		
	nav#bottom span#newer {
		margin-left: 0px;
		float: left;
		}
		
	nav#bottom span.grid {
		-webkit-mask: url('../img/content/grid.png') no-repeat;
		background: #FFFFFF;
		margin: 8px 0 0 8px;
		height: 10px;
		width: 6px;
		}
		
	nav#bottom span.grid:hover {
		background: #FFFFFF !important;
		}
		
	nav#bottom span:hover {
		background: #D98B00;
		}
		
	nav#bottom span span {
		float: left;
		}
		
	nav#bottom a span:last-child {
		margin: 1px 0 0 5px;
		float: left;
		}
	
/**
 * Animations
 *
 */
 @-webkit-keyframes red-byline {
 	0% {
 		margin-top: -25px;
 		} 
 		
 	100% {
 		margin-top: -3px;
 		}
 }


/* Apply */
	ul.dates {
		line-height: 160%;
		list-style: none;
		width: 300px;
		}
		
	ul.dates li {
		border-bottom: 1px dotted #CCC;
		}
		
/* Bio Widget */
	span.bio {
		margin: 10px 0 20px 0;
		position: relative;
		width: 100%;
		float: left;
		}
		
	span.bio h2 {
		line-height: 1.2;
		}
		
	span.bio img {
		margin: 5px 20px 0 0;
		height: auto;
		width: 80px;
		float: left;
		}
		
	span.bio span.byline {
		margin-top: 3px;
		font-size: 12px;
		display: block;
		}
		
	span.bio a {
		-webkit-transition: color 0.2s ease-in-out;
		margin-top: 3px;
		width: 160px !important;
		font-size: 12px;
		color: #F36235;
		display: block;
		}
		
	span.bio a:hover {
		color: #B94929;
		}
		
	span.bio p.short_bio {
		font-style: italic;
		margin-top: 10px;
		font-size: 14px;
		color: #CCCCCC;
		float: left;
		clear: both;
		}

/* Hacks */
	.bumper{
		margin-top: 30px;
		}