{# Set up the install directory variable so that we get valid links
   regardless of how the prototype is configured. #}
{% if install_dir != '' %}
  {% set dir = install_dir ~ "/" %}
{% endif %}
<header>
	<div class="container_12">
		<div class="grid_2">
			<a href="/{{dir}}">
				<h1 id="logo">Carnegie Mellon Design</h1>
			</a>
		</div>
		
		<div class="grid_10">
			<!-- i can has spritesheet -->
			<nav id="global">
				<ul>
					<li {% if section == 'school' %}class="selected"{% endif %}>
						<a href="/{{dir}}school/">
							<span>School</span>
						</a>
						<ul class="hover_nav">
							<li>
								<a href="/{{dir}}school/">What is Design?</a>
							</li>
							<li>
								<a href="/{{dir}}school/">Design at CMU</a>
							</li>
							<li>
								<a href="/{{dir}}school/">Design Institute</a>
							</li>
							<li>
								<a href="/{{dir}}school/">Features</a>
							</li>
							<li>
								<a href="/{{dir}}school/">Environment</a>
							</li>
							<li>
								<a href="/{{dir}}school/">Contact</a>
							</li>
						</ul>
					</li>
					
					
					<li {% if section == 'programs' %}class="selected"{% endif %}>
						<a href="/{{dir}}programs">
							<span>Programs</span>
						</a>
						<ul class="hover_nav">
							<li>
						    <a href="/{{dir}}programs">Pre-College</a>
						  </li>
							<li>
						    <a href="/{{dir}}programs/undergraduate">Undergraduate</a>
						  </li>
							<li>
						    <a href="/{{dir}}programs">Graduate</a>
						  </li>
							<li>
						    <a href="/{{dir}}programs">PhD</a>
						  </li>
							<li>
						    <a href="/{{dir}}programs">Continuing Ed</a>
						  </li>
						</ul>
					</li>
					
					<li {% if section == 'people' %}class="selected"{% endif %}>
						<a href="/{{dir}}people">
							<span>People</span>
						</a>
						<ul class="hover_nav">
							<li>
								<a href="/{{dir}}people/undergrads.htm">Undergraduate</a>
							</li>
							<li>
						    <a href="/{{dir}}people">Graduate</a>
						  </li>
							<li>
						    <a href="/{{dir}}people">PhD</a>
						  </li>
							<li>
								<a href="/{{dir}}people/faculty.htm">Faculty</a>
							</li>
							<li>
						    <a href="/{{dir}}people">Staff</a>
						  </li>
							<li>
						    <a href="/{{dir}}people">Alumni</a>
						  </li>
						</ul>
					</li>
					
					<li {% if section == 'projects' %}class="selected"{% endif %}>
						<a href="/{{dir}}projects">
							<span>Projects</span>
						</a>
					</li>
					
					<li {% if section == 'apply' %}class="selected"{% endif %}>
						<a href="/{{dir}}apply">
							<span>Apply</span>
						</a>
						<ul class="hover_nav">
							<li>
						    <a href="/{{dir}}admissions">Admissions</a>
						  </li>
							<li>
						    <a href="/{{dir}}admissions">Visiting</a>
						  </li>
							<li>
						    <a href="/{{dir}}admissions">Financial Aid</a>
						  </li>
							<li>
						    <a href="/{{dir}}admissions">FAQ</a>
						  </li>
						</ul>
					</li>
					
					<li {% if section == 'community' %}class="selected"{% endif %}>
						<a href="/{{dir}}community">
							<span>Community</span>
						</a>
						<ul class="hover_nav">
							<li>
						    <a href="/{{dir}}community">Alumni</a>
						  </li>
							<li>
						    <a href="/{{dir}}community">Collaborations</a>
						  </li>
							<li>
						    <a href="/{{dir}}community">Fitwits</a>
						  </li>
							<li>
						    <a href="/{{dir}}community">Design Institute</a>
						  </li>
							<li>
						    <a href="/{{dir}}community">Events</a>
						  </li>
							<li>
						    <a href="/{{dir}}community">Opportunities</a>
						  </li>
							<li>
						    <a href="/{{dir}}community">Student Groups</a>
						  </li>
							<li>
						    <a href="/{{dir}}community">Support</a>
						  </li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>