{% extends 'base.html' %}

{% block title %}
  What is Design? / 
{% endblock %}

{% block content %}
  <div class="container_12" id="content">
  	<figure class="grid_12" id="sidekick" >
  		<img src="../assets/img/content/mmch.jpg" alt="Industrial Design shop.">
  	</figure>
  	<div class="grid_12" id="section_header">
  		<span class="breadcrumb">School / What is Design</span>
  	</div>
  	
  	{% include 'interface.sidenav.html' %}
  	
  	<div class="grid_6">
  		<h2 class="inside">The Power and Potential of Design</h2>
  		<p class="content">Designers are incredibly powerful: they have a hand in creating the communications, experiences, and artifacts that constitute our world. They increasingly influence decisions that affect the quality of life of millions of people, and the health of the planet itself.</p>
  		<p class="content">A designer's work enables you to catch the right bus to work in the morning, or causes you to mark the ballot that elects the wrong candidate. A designer has the power to educate millions about the effects of global warming, or to turn acres of forest into this year's annual report. It is virtually impossible to pass through an urban environment and not see the work of designers at every turn.</p>
  		<p class="content">A designer's work enables you to catch the right bus to work in the morning, or causes you to mark the ballot that elects the wrong candidate. A designer has the power to educate millions about the effects of global warming, or to turn acres of forest into this year's annual report. It is virtually impossible to pass through an urban environment and not see the work of designers at every turn.</p>
  	</div>
  	
  	<div class="grid_3">
  		<section class="relativity_wrapper">
  			<ul class="relativity">
  				<li>
  					<figure class="video_wrapper">
  						<a href="#">
  							<div class="video"></div>
  							<img src="../assets/img/related/school-01.jpg">
  						</a>
  						<figcaption>
  							<h5>
  								<a href="#">What is Design?</a>
  							</h5>
  						</figcaption>
  					</figure>
  				</li>
  				
  				<li>
  					<figure>
  						<a href="#"><img src="../assets/img/related/school-02.jpg"></a>
  						<figcaption>
  							<h5>
  								<a href="#">d'Arte Magazine</a>
  							</h5>
  						</figcaption>
  					</figure>
  				</li>
  			</ul>
  		</section>
  	</div>
  	
  	<div class="prefix_3 grid_9">
  		<section id="dict_definition">
  			<dl class="alpha grid_6">
  				<dt id="dictionary">design</dt>
  				<span class="part">noun</span>
  				<span class="pronunciation">\di-&#712;z&iuml;n\</span>
  				<dd>
  					<ol>
  						<li>A plan or drawing produced to show the look and function or workings of a building, garment, or other object before it is built or made</li>
  						<li>The art or action of conceiving of and producing such a plan or drawing</li>
  						<li>An arrangement of lines or shapes created to form a pattern or decoration</li>
  						<li>Purpose, planning, or intention that exists or is thought to exist behind an action, fact, or material object</li>
  					</ol>
  				</dd>
  			</dl>
  			
  			<p class="grid_3 omega sidenote">The definition from Merriam-Webster Dictionary, Online Edition</p>
  			
  			<p class="alpha grid_6 content">There are many definitions of design. No one seems to be able to decide what it entails or what it is designers do. Many think of it as applied art, or making posters, drawing pictures, and the like. There is a much larger story for design to tell, and a much large part in the world in which to tell it than what the public opinion thinks.</p>
  		</section>
  		
  		<section id="school_definition">
  			<dl class="alpha grid_6">
  				<dt>design</dt>
  				<span class="part">noun</span>
  				<span class="pronunciation">\di-&#712;z&iuml;n\</span>
  				<dd>
  					<ol>
  						<li>[...] the human power to conceive, plan, and realize products that serve human beings in the accomplishment of any individual or collective purpose</li>
  					</ol>
  				</dd>
  			</dl>
  			
  			<p class="grid_3 omega sidenote">A definition we can believe in, by former head Richard Buchanan</p>
  			
  			<p class="alpha grid_6 content">The design disciplines typically include communication, industrial/product, interaction, service, and environmental specialties. (Interior and fashion design are outside the scope of this analysis.) Design is most often perceived in terms of its output, which can include artifacts as seemingly diverse as logos and brand identities, posters, computer and online interfaces, products, furniture, software, packaging, wayfinding signs, and all manner of interior and exterior environments.</p>
  			<p class="alpha grid_6 content">The disciplines of design cover a vast territory and often involve collaboration with countless other disciplines. For this reason, the potential reach of design and design education are limitless, and&mdash;we will argue&mdash;until now, largely unrealized.</p>
  		</section>
  			
  		<section id="school_mission">
  			<h2 class="inside">Our Way of Design</h2>
  			<p class="alpha grid_9 content">At Carnegie Mellon's School of Design, we believe that design is a <em>humanistic discipline</em> that involves initiating, planning, and shaping products, communications, ideas, and services within continually changing social, environmental, and economic landscapes. We look to <em>living systems</em> to help fashion a responsible approach that values the quality of human life in balance with a healthy and <em>sustainable planet</em>. Our process employs <em>human-centered methods</em> that synthesize traditional approaches with technological innovations to meet human needs. The School of Design prepares students to become <em>catalysts for innovation and social change</em> by drawing from the interdisciplinary strengths of the liberal arts and the scientific and creative disciplines, and facilitating <em>transdisciplinary</em> collaborative problem solving.</p>
  		</section>
  	</div>
    
    {% include 'interface.bottombar.html' %}  	
  </div>
{% endblock %}

{% block pushfix %}{% endblock %}